

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.form2{
    background-color: blanchedalmond;
    position: absolute;
    top: 50;
    left: 300px;
    width: fit-content;
    }
  